svg {
    height: 3rem;
    width: 3rem;
}

a.icon-link {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}

.project-item {
    margin-top: 1.5rem;
}

.project {
    display: flex;
    flex-direction: column;
    text-align: center;
}