:root {
    --sidebar-width: 300px;
}

img {
    width: 100%;
    border: 5px solid orange;
}

img:hover {
    scale: 1.2;
}

.content {
    margin-top: 5rem;
}

.navbar {
    background-color: rgb(3, 63, 71);
}

@media (min-width: 992px) {
    .navbar {
        min-height: 100vh;
        width: var(--sidebar-width);
        background: linear-gradient(rgba(3, 63, 71, 0.9), rgba(3, 63, 71, 0.9));
        background-size: cover;
        background-position: center;
    }

    .content {
        padding-left: var(--sidebar-width);
    }
}
